:host ::ng-deep .mat-tab-body-wrapper {
    height: 600px;
  
  }
  
  :host ::ng-deep .mat-tab-body.mat-tab-body-active {
    height: 600px;
  
  }
  .addCalculation {
    width: 100px;
    height: 60px;
    background-color: black;
    color: white;
    position: fixed;
    top: 50px;
    z-index: 100;
    right: 100px;
  }