<app-tabs></app-tabs>
<!-- Render application tabs -->
<mat-tab-group [selectedIndex]="tabsState.selectedIndex" (selectedIndexChange)="onChangeTab($event)">

  <mat-tab *ngFor="let tab of tabsState.tabs; let index = index" [label]="tab.label">
    <ng-container [ngSwitch]="tab.label">

      <!-- Calculation details. This tab is getting re-initialized each time we open it's tab -->
      <ng-container *ngSwitchCase="tabTypes.CalculationDetails">
        <p>{{index === tabsState.selectedIndex}}</p>
          <app-calculations *ngIf="index === tabsState.selectedIndex"></app-calculations>
      </ng-container>

      <!-- New Calculation. Tab is persistend. Doesn't get destroyed -->
      <ng-container *ngSwitchCase="tabTypes.NewCalculation">
        <app-new-calculation-form></app-new-calculation-form>
      </ng-container>

    </ng-container>    
  </mat-tab>

</mat-tab-group>
<hr>